@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eeeeee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}





ul{
  list-style-type: none;
  padding-left: 0;
  
}
a{
  text-decoration: none;
  color: #9e9d9d;
  font-weight: bold;
}


.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-links, .right-links{
  display: flex;
  gap:20px;
}
.footer{
  background-color: #eeeeee;
}

.content{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}
button{
  padding: 20px;
}