.odd{
    background-color: #ffc0cb;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#nd{
    color: #000fff;
    font-size: 36px;
}
.rd{
    font-size: 24px;
}
#th{
    background-color: #adff2f;
    font-weight: bold;
}



