.first{
background-color: #000000;
color: #ffffff;
}

.second{
background-color: rgb(219, 219, 63);
}

.first,
.second{
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman','sans-serif';
}