body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
  background:  #e3f4ff;
}

.content {
  margin-bottom: 8px;
font-size: 16px;
  background:  #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  padding: 8px;
  text-align: center;
  margin: 8px auto;
  margin-top: 16px;
  font-size: 16px;
  background:  #e3f4ff;
}

button {
  padding: 8px 24px;
  display: block;
  margin: 0 auto;
font-size: 16px;
  background: white;
  border: 1px solid #eee;
}